<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
          background-color: orange;
          text-align: center;
            }
    </style>
    {% block head %} {% endblock %}
  </head>
  <body>
    <h1 style="color: red;"><u>---PREDICTION FOR COVID-19 TWEET---</u></h1>
    <br />
    <br />
    {% block content %} {% endblock %}
    <br />
  </body>
</html>
